<h2> Edit Password </h2>

<%= form_with model: Current.user, url: edit_password_path do |form|%>
 <% if form.object.errors.any? %>
 <div class="alert alert-danger">
   <%= form.object.errors.full_messages.each do |message| %>
      <div> <% message %></div>
   <% end %>
 </div>
 <% end %>


<div class="mb-3">
<% form.label :password%>
 <%= form.password_field :password, class: "form-control", placeholder: "password" %>
</div>
<div class="mb-3">
<% form.label :confirm_password %>
 <%= form.password_field :password, class: "form-control", placeholder: "confirm password" %>
</div>
<div class="mb-3">
 <%= form.submit "Update password", class: "btn btn-primary" %>
</div>
<% end %>